/* Navbar */
.navbar {
    width: 100%;
    border-bottom: solid 1px rgb(36, 34, 34);
    font-family: "Varela Round", sans-serif;  
    background-color: #7c0a02;
  }
  
  .navbar ul {
    margin:0 !important;
    flex: 1;
    justify-content: flex-end;
  }

  .navbar a {
    padding: 1.45rem;
    margin: 0 0.25rem;
  }
  
  .navbar a:hover {
    color: #d65a31;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }

  .logo {
    width: 12%;
    border: solid 1px #c04e28;
    display: inline-block;
    margin-right: 20px;
  }

  @media screen and (max-width: 570px) {
    .nav-item {
      line-height: 1rem;
      /* overflow: auto; */
    }

    #navbarToggler {
      overflow-y: scroll !important;
      max-height: 200px !important;
    }
  
  }
  




  
  