.App {
  text-align: center;
}

body {
  font-family: "Didact Gothic", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  /* min-height: 100%;
  position: relative; */
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.content {
  height: 100%;
  overflow-y: scroll;
  /* background: white; */
  padding: 10px 0 10px 0;
}

