/* .footer-copyright {
    background-color: #7c0a02;
    opacity: 0.8;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    

} */

footer {
    padding: 20px 0;
    background-color: #7c0a02;
    color: white;
    margin-top: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}

.footer-copyright {
    font-size: 14px;
    text-align: center;
    color: #85f1f1;
}